
body {
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  margin: 0px;
}

body a {
  text-decoration: none;
  color: black;
}

h1{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3em;
<<<<<<< HEAD
  background-color: black;
  color: white;
  font-style: normal;
	font-variant: normal;
	font-weight: bold;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
=======
  color: white;
	font-weight: bold;
  padding: 1em
>>>>>>> css
}

h2{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

h3{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.25em;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}

p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

.link_color {
  color: #004b00;
}

.title {
  background-color: black;
  width: 100%;
}

.yield_body {
  margin: 50px;
}

header {
  display: flex;
  justify-content: baseline;
  height: 100px;
  padding-left: 20px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #28af3f;
  width: 100%;
<<<<<<< HEAD
=======
  padding: 0em;
>>>>>>> css
}

nav a:hover {
  color: white;
  background-color: #28af3f;
}

.box {
  background-color: #DBE9F4;
}

footer {
  background-color: #28af3f;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  color:  white;
  font-size: .75em;
}
