/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  margin: 0px;
}

body a {
  text-decoration: none;
  color: black;
}

h1{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3em;
  color: white;
	font-weight: bold;
  padding: 1em
}

h2{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

h3{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.25em;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}

p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

.link_color {
  color: #004b00;
}

.title {
  background-color: black;
  width: 100%;
}

.yield_body {
  margin: 50px;
}

header {
  display: flex;
  justify-content: baseline;
  height: 100px;
  padding-left: 20px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #28af3f;
  width: 100%;
  padding: 0em;
}

nav a:hover {
  color: white;
  background-color: #28af3f;
}

.box {
  background-color: #DBE9F4;
}

footer {
  background-color: #28af3f;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  color:  white;
  font-size: .75em;
}
