<h2>All Categories</h2><br/>

<h3 class="link_color" ><%= link_to "< Add a New Category >", new_category_path(@category)%></h3>
<section>
<ul>
  <% @categories.each do |category| %>
  <h3><%= link_to category.description, category_path(category) %>:</h3>
    <%= link_to "Edit ", edit_category_path(category) %> or
    <%= link_to " Delete", category_path(category), method: "delete" %>
  </li>
  <% end %>
</ul>
</section>
